doctype html
h3  /v1/fileReader
form(action="/v1/fileReader", method="post")
    | searchWord :
    input(type='text', name='searchWord')
    br
    br
    input(type='submit', value='submit')
    hr
